In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/drive/My Drive/Análise de dados/arquivosCSV/train.csv",sep=",")


Como Tratar Dados Ausentes com Pandas
Uma das maiores dificuldades da etapa exploratória dos dados em um projeto de Data Science é limpar os dados, o que envolve lidar com dados faltantes.

Excluir, completar ou ignorar?! Qual a melhor abordagem?

Vamos falar sobre as principais técnicas para lidar com dados ausentes e entender o trade-off entre elas.

Identificando dados ausentes
Algoritmos de Machine Learning não são capazes de lidar com valores ausentes (missing data). Se você já tentou rodar, viu que a mensagem de erro é bem clara em relação a isso.

Um valor ausente é facilmente identificado nos campos da sua estrutura de dados como NaN. Para seu modelo rodar sem problemas, você tem que limpar os dados (data cleaning) em uma etapa anterior. É aí que surge a dúvida: o que eu faço com eles?

Não existe uma resposta 100% correta, pois cada abordagem tem suas vantagens e desvantagens, mas vamos dar uma olhada naquelas que são mais usadas.

In [ ]:
df.head()

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

# Identificando dados ausentes

A primeira coisa que você tem que saber quando lida com um conjunto de dados novos, é a quantidade e proporção dos missing values.

Para identificar valores ausentes, por colunas, você pode usar:

df.describe() para retornar um resumo estatístico das variáveis numéricas
df.info() para dar um resumo de valores não-nulos encontrados
df.isnull().sum() para retornar a soma dos valores nulos encontrados
Usando essa última opção, vamos ver as 10 colunas com mais valores ausentes para esse dataset.

In [ ]:

df.isnull().sum().sort_values(ascending=False)[:10]

PoolQC          1453
MiscFeature     1406
Alley           1369
Fence           1179
FireplaceQu      690
LotFrontage      259
GarageCond        81
GarageType        81
GarageYrBlt       81
GarageFinish      81
dtype: int64

# Lidando com dados ausentes


não existe uma resposta 100% correta ou 100% errada sobre como você deve tratar os valores ausentes do seu conjunto de dados.

Toda escolha tem uma renúncia. Você tem que estar ciente disso e testar o que vai se adequar melhor àquela situação.

# Excluir valores ausentes

Esta é uma decisão mais radical, e deve ser feita apenas em casos onde não haverá impacto significativo no modelo. Ao eliminar uma linha inteira você joga fora um monte de informação que poderia ser extremamente importante.

Eu uso essa opção apenas quando meu dataset é consideravelmente grande e a quantidade de valores ausentes é relativamente insignificante.

Para fazer isso, você vai usar o método df.dropna(). Esse método é direto, e remove os valores NaN encontrados no DataFrame.

Por padrão, se você não informar o eixo, serão eliminadas todas as linhas relativas à celula contendo o valor ausente (df.dropna(axis=0)).

Caso você deseje eliminar uma coluna inteira onde existam NaN, você deve informar explicitamente com df.dropna(axis=1)

No exemplo abaixo, todos os valores NaN da coluna GarageFinish serão eliminados. Compare o shape antes e depois.

In [ ]:
# ver o shape antes
shape_antes = df.shape
print("Antes:\t", shape_antes)

df.dropna(subset=['GarageCond'], inplace=True)

# ver o shape depois
shape_depois = df.shape
print("Depois:\t", shape_depois)

Antes:	 (1460, 81)
Depois:	 (1379, 81)

# Preencher valores ausentes

Esta abordagem é a mais utilizada, pois você não joga fora informação útil. Aqui, a dúvida que você vai ter é em relação a qual valor usar para preencher os dados faltantes.

Existem técnicas avançadas que são combinadas com o preenchimento de valores, como por exemplo analisar correlações ou mesmo construir um modelo preditivo para missing values.

Entretanto, uma abordagem direta e simples consiste em substituir os NaN pela mediana da coluna. Isso é feito mediante o método df.fillna(), informando o valor desejado como argumento.

Vamos extrair a mediana da coluna LotFrontage e preencher os valores faltantes com ela.

In [ ]:
# extrair a mediana de LotFrontage
lotFrontage_mediana = df.LotFrontage.median()

# preencher a coluna LotFrontage com a mediana
df.fillna(lotFrontage_mediana, inplace=True)

# checar se há valor ausente
df.LotFrontage.isnull().sum()

0

# Usar valor mais frequente

Para preencher missing values no último exemplo, usamos a mediana da coluna. Entretanto, caso a variável fosse categórica (e não numérica), poderíamos verificar qual o valor mais frequente e usar ele no preenchimento.

Para identificar o valor mais frequente, basta usar o método value_counts(), extrair o maior valor e informar ele como argumento de fillna().

In [ ]:

# identificar o valor mais frequente
print(df.GarageCond.value_counts())
garageCond_freq = df.GarageCond.value_counts()[0]

# preencher missing values com o valor acima
df.GarageCond.fillna(garageCond_freq, inplace=True)

# verificar se há valor ausente
df.GarageCond.isnull().sum()

TA    1326
Fa      35
Gd       9
Po       7
Ex       2
Name: GarageCond, dtype: int64

0